<!--STYLESHEETS-START-->
<link rel="stylesheet" href="./index.css">
<!--STYLESHEETS-END-->

<!--CONTENT-START-->
<h1>2D Fluid</h1>

<p class="body2 textSecondary">
  A simple fluid simulation.
</p>

<p class="primary caption">
  INSTRUCTIONS
</p>
<ul>
  <li>Play - Start the simulation.</li>
</ul>

<div class="maze-container">
  <div class="gutterBottom">
    <button id="play-button">Play</button>
  </div>
  <div>
    <canvas width="1024" height="1024" id="maze-canvas"></canvas>
  </div>
</div>
<!--CONTENT-END-->

<!--SCRIPTS-START-->
<script src="./index.js"></script>
<!--SCRIPTS-END-->