<!--STYLESHEETS-START-->
<link rel="stylesheet" href="./index.css">
<!--STYLESHEETS-END-->

<!--CONTENT-START-->
<h1 class="h4">Catris</h1>

<p class="body2 textSecondary scramble">
  A fun tetris-like puzzle game with cats!
</p>

<p class="primary caption">
  INSTRUCTIONS
</p>
<ul>
  <li>Arrows - move piece.</li>
  <li>Space - select, drop piece.</li>
</ul>

<div class="app">
  <div tabindex="0" id="catris-controller" class="catris-controller primary">
    <canvas width="128" height="256" id="catris" class="catris"></canvas>
    <div class="pause-text-container">
      <span id="pause-text">Click to Start</span>
    </div>
  </div>
</div>
<!--CONTENT-END-->

<!--SCRIPTS-START-->
<script src="./sound.js"></script>
<script src="./catris.js"></script>
<script src="./index.js"></script>
<!--SCRIPTS-END-->