<!--CONTENT-START-->
<h1 class="scramble">Content</h1>

<ul>
  <li>
    <a href="./webgl-game-of-life/" class="secondary scramble">WebGL Game of Life</a>
  </li>
  <li>
    <a href="./catris/" class="secondary scramble">Catris</a>
  </li>
  <li>
    <a href="./webgl-maze-generator/" class="secondary scramble">WebGL Maze Generator</a>
  </li>
  <li>
    <a href="./webgl-fluid/" class="secondary scramble">WebGL Fluid</a>
  </li>
  <li>
    <a href="./chicken-cave/" class="secondary scramble">Chicken Cave</a>
  </li>
</ul>
<!--CONTENT-END-->