<!--CONTENT-START-->
<h1 class="h4 scramble">Content</h1>

<ul>
  <li>
    <a href="./webgl-game-of-life/" class="secondary scramble">WebGL Game of Life</a>
  </li>
  <li>
    <a href="./catris/" class="secondary scramble">Catris</a>
  </li>
  <li>
    <a href="./webgl-maze-solving/" class="secondary scramble">WebGL Maze Solving</a>
  </li>
</ul>
<!--CONTENT-END-->