/*
  index.css
*/

.example1 {
  text-align: center;
}
.example1 canvas {
  border: 1px solid #aaa;
}

.example2 {
  text-align: center;
}
.example2 canvas {
  border: 1px solid #aaa;
}

#example2-breadth {
  max-width: 100%;
}
