<!--STYLESHEETS-START-->
<link rel="stylesheet" href="./index.css">
<!--STYLESHEETS-END-->

<!--CONTENT-START-->
<h1 class="h4">WebGL Maze Solving</h1>

<p class="body2 textSecondary">
  How do we solve mazes?
</p>

<p class="primary caption">
  INSTRUCTIONS
</p>
<ul>
  <li>Toggle - play/pause the Game of Life.</li>
  <li>Step - progress one step.</li>
</ul>

<div class="example1">
  <div class="gutterBottom">
    <button id="example1-play-button">Play</button>
  </div>
  <div>
    <canvas width="128" height="128" id="example1-depth"></canvas>
    <canvas width="128" height="128" id="example1-breadth"></canvas>
  </div>
</div>

<div class="example2">
  <div class="gutterBottom">
    <button id="example2-play-button">Play</button>
  </div>
  <div>
    <canvas width="2048" height="2048" id="example2-breadth"></canvas>
  </div>
</div>
<!--CONTENT-END-->

<!--SCRIPTS-START-->
<script src="./Example1Depth.js"></script>
<script src="./Example1Breadth.js"></script>
<script src="./Example2Breadth.js"></script>
<script src="./index.js"></script>
<!--SCRIPTS-END-->