<!--STYLESHEETS-START-->
<link rel="stylesheet" href="./index.css">
<!--STYLESHEETS-END-->

<!--CONTENT-START-->
<h1>WebGL Fluid</h1>

<p class="body2 textSecondary">
  An implementation of fluid with Javascript + WebGL.
</p>

<div class="gutterBottom">
  <button id="play-button" class="button outlined">Play</button>
  <button id="reset-button" class="button outlined">Reset</button>
  <button id="full-screen-button" class="button outlined">Full Screen</button>
</div>

<div>
  <canvas id="liquid-canvas" width="512" height="256" class="liquid-canvas"></canvas>
</div>
<!--CONTENT-END-->

<!--SCRIPTS-START-->
<script src="./liquid.js"></script>
<script src="./index.js"></script>
<!--SCRIPTS-END-->
